@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.ff {
  font-family: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  font-family: "Manrope", sans-serif;
}

:root {
  --fs-xs: 16px;
  --fs-sm: 16px;
  --fs-md: 32px;
  --fs-lg: 55px;
  --clr-gray: #9e9e9e;
}

.fs_16 {
  font-size: var(--fs-xs);
}
.fs_20 {
  font-size: var(--fs-sm);
}
.fs_32 {
  font-size: var(--fs-md);
}
.fs_60 {
  font-size: var(--fs-lg);
}

.text_gray {
  color: var(--clr-gray);
}

/* CUSTOM CSS */

.hovermanue {
  transition: all 300ms ease-in-out;
}
.hovermanue:hover {
  color: #ff6900;
}
.custom_btn {
  background-color: #ff6900;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
.transparent_btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.get-started-btn {
  border-width: 0px, 0px, 0px, 0px !important;
  border-style: solid !important;
  border-color: #ff6900 !important;
  color: #ff6900 !important;
  background-color: transparent !important;
}

.hero-img {
  margin-bottom: -150px;
}

.card_box {
  background-color: transparent !important;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card_box:hover {
  background-color: white !important;
  box-shadow: 12px 12px 100px 12px #44444414;
  border-radius: 10px;
}

.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}

.list {
  list-style-type: disc !important;
}
@media (max-width: 991px) {
  .hero-img {
    margin-bottom: 0px;
  }
  :root {
    --fs-xs: 16px;
    --fs-sm: 20px;
    --fs-md: 28px;
    --fs-lg: 50px;
    --clr-gray: #9e9e9e;
  }
}
@media (max-width: 767px) {
  :root {
    --fs-xs: 16px;
    --fs-sm: 16px;
    --fs-md: 22px;
    --fs-lg: 21px;
    --clr-gray: #9e9e9e;
  }
}
